*{
    margin: 0;
    padding: 0;
    overflow:auto;
    font-family: 'Roboto', sans-serif;
}
body{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/logo/Porsche-356-Speedster-1280x720.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    height: 3rem;
    background-color: rgb(31, 27, 22);
    padding-top: 2rem;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.menu ul{
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #fff;
}
.menu a:hover{
    color: rgba(255, 255, 0, 0.678);
    transition: .5s;
}


/* - --- -- - -content ---- -  -- - */

.content{
    text-align: center;
    margin: 4rem 0 0 0;
}
.content img{
    width: 400px;
}
.content h1{
    font-size: 50px;
    color: #fff;
}
.content p{
    font-size: 25px;
    color: #fff;
    font-family: 'Hubballi', cursive;
}
.icons{
    font-size: 20px;
    color: #ffffff;
    margin: 37rem 0 0 0;
    display: flex;
    justify-content: center;
}
/* ----subtitle ---------- */



.subtitle1{
    background: url("../images/BG/Без\ названия1.png")fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #fff;
    text-align: center;
}

.subtitlediv:hover{
    margin: 6rem 0 0 0;
    transition-duration: inherit ;
    transition: 0.9s;
}
.subtitlediv img{
    width: 130px;
}
.subtitle1 h2{
    color:#fff;
    font-size: 30px;
    margin: 3rem 0 5rem  0 ;
}

.subtitle2{
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 0 5rem;

}

.subtitle2 h3{
    font-size: 25px;
    color: #fff;
}
.subtitle2 p{
    margin: 2rem 0 0 0 ;
    color: #fff;
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* workimg------- */

.works{
    background-color: #fff;
    text-align: center;
}
.works h2{
    margin: 3rem 0 0 0;
    font-size: 25px;
    font-weight: 700;
}

.worksimg{
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;

}
.worksimg img:hover{
    transform: translateY(25px);

}
.worksimg img{
    width: 400px;
    transition: 0.5s;
    margin: 0 0 2rem 0;
}
.img1{
    height: 265px;
}



.abaut{
    background: url("../images/BG/Без\ названия.png") fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.abaut div{
    width: 600px;
    height: 400px;
    margin: 5rem 0 5rem 0;
    background-color: #fff;
}



.content-title{
    background: url("../images/BG/Без названия1.png")fixed;
    background-repeat: no-repeat ;
    background-size: cover;
    width: 179.1.1vh;
    height: 70vh;
}
.content-title h2{
    text-align: center;
    margin: 3rem 0 0 0  ;
    font-size: 30px;
    color: #fff;
    font-family: 'Fredoka', sans-serif;
}
.content-title1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 3rem  0 0 0;
    
}


.abautusimg{
    background: url("../images/abautusimg/Без названия.png")fixed;
    background-repeat: no-repeat center ;
    background-size: cover;
    position: center;
    width: 179.1.1vh;
    height: 70vh;
}
.abautusimg1{
    width: 179.1.1vh;
    height: 119vh;
    display: flex;
    justify-content: center;
}
.abautusimg2{
    background: url("../images/BG/Без\ названия.png")fixed;
    background-repeat: no-repeat ;
    background-size: cover;
    text-align: center;
}
.abautusimg2 img{
    width: 300px;
    margin: 5rem 0 0 0;
}
.abautblock{
    display: flex;
    justify-content: center;
}
.blocform{
    background-color: #fff;
    margin: 2rem  0 10vh 0;
    width: 90vh;
    height: 100vh;
}
.blocform h4{
    font-size: 25px;
    text-align: center;
    margin: 2rem 0 0 0 ;
}

.blockform1{
    display: flex;
    justify-content: space-around;
}

/* ------------------form--------- */



.form{
    margin: 10px 0 0 0;
}
.form input{
    padding: 10px 50px;
}
.form h5{
    padding: 3rem 0 0 0;
    color: rgb(129, 126, 126);
}
.form button{
    margin: 10px 0 0 0;
    padding: 8px 80px;
    background-color: rgb(34, 34, 30);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}
.formdiv{
    text-align: center;
}
.form p{
    margin: 10px 0 0 0 ;
    color: rgb(129, 126, 126);
}

/* ulform--------- */


.ulform ul{
    margin: 3rem 0 0 1rem;
    line-height: 4rem;
    font-size: 15px;

}
/* -----footer------ */

footer{
    background-color: rgb(34, 27, 18);
    height: 25vh;
}
.footerblock{
    margin: 3rem 0 0 0;
}
.footerblock ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    font-size: 20px;
}
footer p{
    text-align: center;
    margin: 3rem 0 0 0;
    font-size: 20px;
    color: #fff;
}